<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945828382074-ipk2cbkcrtf67lopjimg1ccdgi5o5fbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945828382074-ipk2cbkcrtf67lopjimg1ccdgi5o5fbn</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ptmN2NQ5hYzXggq2NwXyRR3N0S73mCc</string>
	<key>GCM_SENDER_ID</key>
	<string>945828382074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cedo.commonworldinc.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-c77ec</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-c77ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945828382074:ios:dc4da0532b0c625a73c2c3</string>
</dict>
</plist>